<div class="navigation-tabs">
    <a 
        class="nav-tab"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <span class="material-symbols-outlined" translate="no">home</span>
        Home
    </a>
    <a 
        class="nav-tab"
        routerLink="/favorites"
        routerLinkActive="active">
        <span class="material-symbols-outlined" translate="no">favorite</span>
        Favorites
        @if (favoritesCount() > 0) {
            <span class="favorites-badge">
                {{ favoritesCount() }}
            </span>
        }
    </a>
</div>
