<div class="fixed-header">
    <div class="header">
        <div class="header-left">
            <button class="menu-button" (click)="openSideMenu()" title="Open menu">
                <span class="material-symbols-rounded" translate="no">menu</span>
            </button>
            <a routerLink="/" class="logo-link">
                <img src="assets/icons/catalog_icon.png" alt="Anime Cover Catalog" class="logo-icon">
            </a>
            <div class="subtitle">What anime cover are you looking for?</div>
        </div>
        <div class="header-right">
            <a href="https://github.com/dony-aep/anime-cover-catalog" target="_blank" class="header-button github-link" title="GitHub Repository">
                <img 
                    [src]="themeService.currentTheme() === 'dark' ? 'assets/brands/github/GitHub_dark.svg' : 'assets/brands/github/GitHub_light.svg'" 
                    alt="GitHub" 
                    class="github-icon">
            </a>
            <a href="https://donyaep.vercel.app/" target="_blank" class="header-button author-link" title="Author's Website">
                <span class="material-symbols-rounded" translate="no">public</span>
            </a>
            <span class="material-symbols-rounded mode-toggle" (click)="toggleTheme()" [title]="themeService.currentTheme() === 'dark' ? 'Light Mode' : 'Dark Mode'" translate="no">
                {{ themeService.currentTheme() === 'dark' ? 'light_mode' : 'dark_mode' }}
            </span>
        </div>
    </div>
</div>

<app-side-menu [isOpen]="isSideMenuOpen()" (menuClosed)="closeSideMenu()"></app-side-menu>