<div class="trailer-content" (click)="$event.stopPropagation()">
    <div class="trailer-header">
        <h2>
            <span class="material-symbols-outlined" translate="no">smart_display</span>
            {{ anime.title }} - Trailer
        </h2>
        <div class="trailer-header-buttons">
            <button class="copy-trailer-url" title="Copy Trailer URL" (click)="copyTrailerUrl()" *ngIf="videoId">
                <span class="material-symbols-outlined" translate="no">
                    {{ copyState() === 'copied' ? 'check' : 'link' }}
                </span>
            </button>
            <button class="close-trailer" title="Close Trailer" (click)="close()">
                <span class="material-symbols-outlined" translate="no">close</span>
            </button>
        </div>
    </div>
    <div class="trailer-video-container">
        <iframe *ngIf="sanitizedTrailerUrl" [src]="sanitizedTrailerUrl" frameborder="0" allowfullscreen></iframe>
        <div class="no-trailer-message" *ngIf="!videoId">
            <span class="material-symbols-outlined" translate="no">videocam_off</span>
            <p>Trailer Not Available</p>
        </div>
    </div>
</div>